<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>com.controller.AdminLoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/AdminLoginController</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
</servlet-mapping>
<servlet>

    <servlet-name>AddQuestionController</servlet-name>
    <servlet-class>com.controller.AddQuestionController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddQuestionController</servlet-name>
    <url-pattern>/AddQuestionController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>AddQuestionsToQuizController</servlet-name>
    <servlet-class>com.controller.AddQuestionsToQuizController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddQuestionsToQuizController</servlet-name>
    <url-pattern>/AddQuestionsToQuizController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>CreateQuizController</servlet-name>
    <servlet-class>com.controller.CreateQuizController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CreateQuizController</servlet-name>
    <url-pattern>/CreateQuizController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DeleteQuestionController</servlet-name>
    <servlet-class>com.controller.DeleteQuestionController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteQuestionController</servlet-name>
    <url-pattern>/DeleteQuestionController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>EditQuestionController</servlet-name>
    <servlet-class>com.controller.EditQuestionController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EditQuestionController</servlet-name>
    <url-pattern>/EditQuestionController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>QuestionListController</servlet-name>
    <servlet-class>com.controller.QuestionListController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>QuestionListController</servlet-name>
    <url-pattern>/QuestionListController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>QuizListController</servlet-name>
    <servlet-class>com.controller.QuizListController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>QuizListController</servlet-name>
    <url-pattern>/QuizListController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>QuizQuestionsController</servlet-name>
    <servlet-class>com.controller.QuizQuestionsController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>QuizQuestionsController</servlet-name>
    <url-pattern>/QuizQuestionsController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UpdateQuestionController</servlet-name>
    <servlet-class>com.controller.UpdateQuestionController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateQuestionController</servlet-name>
    <url-pattern>/UpdateQuestionController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>UserRegisterController</servlet-name>
    <servlet-class>com.controller.UserRegisterController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserRegisterController</servlet-name>
    <url-pattern>/UserRegisterController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.controller.UserLoginController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>UserLogoutController</servlet-name>
    <servlet-class>com.controller.UserLogoutController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserLogoutController</servlet-name>
    <url-pattern>/UserLogoutController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>UserQuizListController</servlet-name>
    <servlet-class>com.controller.UserQuizListController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserQuizListController</servlet-name>
    <url-pattern>/UserQuizListController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>StartQuizController</servlet-name>
    <servlet-class>com.controller.StartQuizController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>StartQuizController</servlet-name>
    <url-pattern>/StartQuizController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>SubmitQuizController</servlet-name>
    <servlet-class>com.controller.SubmitQuizController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SubmitQuizController</servlet-name>
    <url-pattern>/SubmitQuizController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>LeaderboardController</servlet-name>
    <servlet-class>com.controller.LeaderboardController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LeaderboardController</servlet-name>
    <url-pattern>/LeaderboardController</url-pattern>
</servlet-mapping>
</web-app>


