<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginController</servlet-name>
  	<display-name>AdminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateQuizController</servlet-name>
  	<display-name>CreateQuizController</display-name>
  	<description></description>
  	<servlet-class>com.controller.CreateQuizController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddQuestionController</servlet-name>
  	<display-name>AddQuestionController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddQuestionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditQuestionController</servlet-name>
  	<display-name>EditQuestionController</display-name>
  	<description></description>
  	<servlet-class>com.controller.EditQuestionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteQuestionController</servlet-name>
  	<display-name>DeleteQuestionController</display-name>
  	<description></description>
  	<servlet-class>com.controller.DeleteQuestionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuestionListController</servlet-name>
  	<display-name>QuestionListController</display-name>
  	<description></description>
  	<servlet-class>com.controller.QuestionListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateQuestionController</servlet-name>
  	<display-name>UpdateQuestionController</display-name>
  	<description></description>
  	<servlet-class>com.controller.UpdateQuestionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuizListController</servlet-name>
  	<display-name>QuizListController</display-name>
  	<description></description>
  	<servlet-class>com.controller.QuizListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddQuestionsToQuizController</servlet-name>
  	<display-name>AddQuestionsToQuizController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddQuestionsToQuizController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuizQuestionsController</servlet-name>
  	<display-name>QuizQuestionsController</display-name>
  	<description></description>
  	<servlet-class>com.controller.QuizQuestionsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegisterController</servlet-name>
  	<display-name>UserRegisterController</display-name>
  	<description></description>
  	<servlet-class>com.controller.UserRegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginController</servlet-name>
  	<display-name>UserLoginController</display-name>
  	<description></description>
  	<servlet-class>com.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogoutController</servlet-name>
  	<display-name>UserLogoutController</display-name>
  	<description></description>
  	<servlet-class>com.controller.UserLogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserQuizListController</servlet-name>
  	<display-name>UserQuizListController</display-name>
  	<description></description>
  	<servlet-class>com.controller.UserQuizListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminProfileController</servlet-name>
  	<display-name>AdminProfileController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AdminProfileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLeaderBoardController</servlet-name>
  	<display-name>AdminLeaderBoardController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AdminLeaderBoardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StartQuizController</servlet-name>
  	<display-name>StartQuizController</display-name>
  	<description></description>
  	<servlet-class>com.controller.StartQuizController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitQuizController</servlet-name>
  	<display-name>SubmitQuizController</display-name>
  	<description></description>
  	<servlet-class>com.controller.SubmitQuizController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LeaderboardController</servlet-name>
  	<display-name>LeaderboardController</display-name>
  	<description></description>
  	<servlet-class>com.controller.LeaderboardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDashboardController</servlet-name>
  	<display-name>AdminDashboardController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AdminDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginController</servlet-name>
  	<url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateQuizController</servlet-name>
  	<url-pattern>/CreateQuizController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddQuestionController</servlet-name>
  	<url-pattern>/AddQuestionController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditQuestionController</servlet-name>
  	<url-pattern>/EditQuestionController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteQuestionController</servlet-name>
  	<url-pattern>/DeleteQuestionController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuestionListController</servlet-name>
  	<url-pattern>/QuestionListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateQuestionController</servlet-name>
  	<url-pattern>/UpdateQuestionController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuizListController</servlet-name>
  	<url-pattern>/QuizListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddQuestionsToQuizController</servlet-name>
  	<url-pattern>/AddQuestionsToQuizController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuizQuestionsController</servlet-name>
  	<url-pattern>/QuizQuestionsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegisterController</servlet-name>
  	<url-pattern>/UserRegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginController</servlet-name>
  	<url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogoutController</servlet-name>
  	<url-pattern>/UserLogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserQuizListController</servlet-name>
  	<url-pattern>/UserQuizListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminProfileController</servlet-name>
  	<url-pattern>/AdminProfileController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLeaderBoardController</servlet-name>
  	<url-pattern>/AdminLeaderBoardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StartQuizController</servlet-name>
  	<url-pattern>/StartQuizController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitQuizController</servlet-name>
  	<url-pattern>/SubmitQuizController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LeaderboardController</servlet-name>
  	<url-pattern>/LeaderboardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDashboardController</servlet-name>
  	<url-pattern>/AdminDashboardController</url-pattern>
  </servlet-mapping>
</web-app>
